* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
  }
  body {
    min-height: 100vh;
  }
  header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: top;
  }
  .topnav {
    overflow: hidden;
    background-color: transparent;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    /* background-color: #34a0a4; */
    color: black;
  }
  
  .topnav a.active {
    background-color: white;
    color: #168aad;
  }
  
  .topnav .icon {
    display: none;
  }
  
  main {
    display: flex;
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
  }
  .gambar-content {
    max-width: 670px;
    height: auto;
  }
  .content-left {
    width: 30%;
  }
  
  main h1 {
    font-size: 50px;
    font-weight: 700;
    color: aliceblue;
  }
  main h3 {
    font-size: 25px;
    color: aliceblue;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 20px;
  }
  button a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  .btn-more {
    padding: 15px 30px;
    background-color: #168aad;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
  }
  
  @media (max-width: 500px) {
    
    body {
      font-size: 14px; /* Menyesuaikan ukuran font */
    }
  
    main {
      flex-direction: column; /* Mengubah tata letak konten menjadi kolom */
      padding: 20px; /* Menambah ruang di sekitar konten */
      text-align: center; /* Menengahkan konten */
    }
  
    .gambar-content {
      max-width: 100%; /* Konten gambar memenuhi lebar layar */
    }
  
    .content-left {
      width: 100%; /* Konten kiri memenuhi lebar layar */
      text-align: center; /* Menengahkan teks */
      margin-bottom: 20px; /* Menambah jarak antara elemen */
    }
  
    main h1 {
      font-size: 30px; /* Mengurangi ukuran font */
    }
  
    main h3 {
      font-size: 18px; /* Mengurangi ukuran font */
      letter-spacing: 4px; /* Mengurangi jarak huruf */
      margin-bottom: 10px; /* Menambah jarak bawah */
    }
  }
  @media screen and (max-width: 500px) {
    .topnav a:not(:last-child) {
      display: none;
      background-color: #168aad;
      
      margin-right: 50px;
    }
    .topnav a.active {
      background-color: white;
      color: #168aad;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    
  
  
  
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive a:hover {
      
      color: black;
    }
  }
  